.mainnav{
    width: 100%;
    height: 100%;
}

.mainnav ul{
    text-decoration: none;
}

.mainnav ul li{
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;

}

.mainnav ul li .btn{
    padding:15px ;
    border: 2px solid red;
    border-radius: 12px;
}

.mainnav .btn1{
    padding:15px ;
    border: none;
    border: 0 solid red;
    border-radius: 12px;
}
body{
    background-color:antiquewhite;
}
